
//    Font Family

$primary-font	: 'Roboto', sans-serif;
$title-font 	: 'Playfair Display', serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #448df2;
$primary-color2	: #23deb5;
$title-color	: #000;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #cccccc;
$black			: #000;






